In [2]:
#WAP to calculate and print the area of triangle with base as 5 and height 10.
base=5
height=10
area=(1/2*base*height)
print('Area of triangle',area)

Area of triangle 25.0

In [4]:
#WAP a program to input the base and height of triangle.calculate and print the area.
base=int(input('Enter your base value'))
height=int(input('Enter your height value'))
area=(1/2*base*height)
print('Area of triangle',area)

Enter your base value10
Enter your height value15
Area of triangle 75.0

In [13]:
#WAP a program to input length of 3 sides of triangle and print the area 
side1=float(input('Enter your side1 value: '))
side2=float(input('Enter your side2 value: '))
side3=float(input('Enter your side3 value: '))
s=(side1+side2+side3)/2
area=(s*(s-side1)*(s-side2)*(s-side3))
print(area)

Enter your side1 value: 13
Enter your side2 value: 13
Enter your side3 value: 13
5355.1875

In [14]:
#WAP to accept in hours,minutes and second and then calculate and print the time in seconds.
hours=int(input('Enter your hours: '))
minutes=int(input('Enter your minutes: '))
second=int(input('Enter your second: '))
hours=hours*3600
minutes=minutes*60
total_time=(hours+minutes+second)
print("Total time in seconds is: ",total_time)

Enter your hours: 4
Enter your minutes: 30
Enter your second: 5
Total time in seconds is:  16205

In [17]:
#WAP to accept 2 numbers.interchange the two numbers and then print them
number1=int(input('Enter your number1: '))
number2=int(input('Enter your number2: '))
interchange=number1
number1=number2
number2=interchange
print("Your first number is: ",number1)
print("Your second number is: ",number2)

Enter your number1: 13
Enter your number2: 17
Your first number is:  17
Your second number is:  13

In [22]:
#WAP to input bills no.and sales amount.Display bill no, sales amount, sales tax and net amount.
#sales tax is 5%of sales, if sales is upto 5000 otherwise 10%
bill_no=int(input('Enter your bill no: '))
sales_amount=int(input('Enter your sales amount: '))
if sales_amount<=5000:
    sales_tax=(sales_amount)*0.05
else:
    sales_tax=(sales_amount)*0.1
    net_amount=(sales_amount)+(sales_tax)
    print("Bill no",bill_no)
    print('sales amount',sales_amount)
    print('sales tax',sales_tax)
    print("Your net amount is ",net_amount)

Enter your bill no: 144
Enter your sales amount: 6000
Bill no 144
sales amount 6000
sales tax 600.0
Your net amount is  6600.0

In [28]:
print("First 10 even numbers are as follows")
for i in range(0,21):
    if i%2==0:
        print(i)

First 10 even numbers are as follows
0
2
4
6
8
10
12
14
16
18
20

In [29]:
print("First 10 odd numbers are as follows")
for i in range(0,21):
    if i%2==1:
        print(i)

First 10 odd numbers are as follows
1
3
5
7
9
11
13
15
17
19

In [31]:
print("First 10 even numbers in reverse order are as follows")
for i in range(21,0,-1):
    if i%2==0:
        print(i)

First 10 even numbers in reverse order are as follows
20
18
16
14
12
10
8
6
4
2

In [36]:
print('First 10 numbers which is multiples of 2,3:')
for i in range(1,20):
    if i%2==0 and i%3==0:
        print(i)

First 10 numbers which is multiples of 2,3:
6
12
18